.card {
  width: 600px;
}
.card__title {
  margin: 0;
  padding-bottom: 32px;
  font-weight: bold;
  font-size: 20px;
  line-height: 30px;
}
.card__list {
  padding: 0;
  margin: 0;
  font-family: "Noto Serif", "Times New Roman", serif;
}
.card__list-item {
  display: flex;
  list-style: none;
  padding-bottom: 16px;
}

.card__list-item:last-of-type {
  padding-bottom: 0;
}

.card__list-divider {
  border-bottom: 1px solid white;
  flex-grow: 1;
}
