.menu {
  background-image: url(../images/background_menu.svg);
  background-color: #0a2750;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menu__title {
  max-width: 780px;
  margin: 0;
  padding-top: 100px;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
}

.menu__subtitle {
  max-width: 780px;
  text-align: center;
  margin: 0;
  padding-top: 24px;
  font-family: "Noto Serif", "Times New Roman", serif;
  font-size: 20px;
  line-height: 30px;
}

.menu__cards {
  display: flex;
  justify-content: center;
  gap: 100px;
  padding: 100px;
  flex-wrap: wrap;
}
.card {
  width: 600px;
}
.card__title {
  margin: 0;
  padding-bottom: 32px;
  font-weight: bold;
  font-size: 20px;
  line-height: 30px;
}
.card__list {
  padding: 0;
  margin: 0;
  font-family: "Noto Serif", "Times New Roman", serif;
}
.card__list-item {
  display: flex;
  list-style: none;
  padding-bottom: 16px;
}

.card__list-item:last-of-type {
  padding-bottom: 0;
}

.card__list-divider {
  border-bottom: 1px solid white;
  flex-grow: 1;
}
